<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834316824347-97j62u1frcoe3ea2gcaf0i45j8c9oih5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834316824347-97j62u1frcoe3ea2gcaf0i45j8c9oih5</string>
	<key>API_KEY</key>
	<string>AIzaSyBo_Ud0Ea7NtBZUKyvLO_9Ta1BmevBwooQ</string>
	<key>GCM_SENDER_ID</key>
	<string>834316824347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChat2</string>
	<key>PROJECT_ID</key>
	<string>scholar-chat2</string>
	<key>STORAGE_BUCKET</key>
	<string>scholar-chat2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834316824347:ios:d65f40b524c421e915adbe</string>
</dict>
</plist>